<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Component Framework</title>
    <link rel="stylesheet" href="./dist/v-com.css">
</head>

<body>
    <div id="app">

        <tree-select
        :multiple="true"
        :options="options"
        placeholder="Select your favourite(s)..."
        v-model="tsData">
        </tree-select>

        <hr/>

        <date-picker
        v-model="dpData"
        range confirm>
        </date-picker>

        <hr/>

        <data-table
        style-class="table table-bordered table-striped"
        title="dassad"
        csv-export="true"
        rtl="true"
        :global-search="true"
        :columns="columns"
        :paginate="true"
        :rows="dtData"
        :defaultSortBy="{field: 'age', type: 'asc'}">
            <template slot="table-row" scope="props">
                <td>{{ props.row.name }}</td>
                <td>{{ props.formattedRow.age }}</td>
                <td>{{ props.formattedRow.joined }}</td>
                <td>
                    <button @click="showModal(props)">edit {{ props.row.name }}</button>
                </td>
            </template>
        </data-table>

        <hr/>

        <modal class="vue-dialog" name="modal-com"
        height="auto"
        :scrollable="true"
        :adaptive="true">
            <div class="dialog-content">
                {{mData}}
            </div>
            <div class="vue-dialog-buttons">
                <button class="vue-dialog-button" style="flex: 1 1 50%;">Ok</button>
                <button class="vue-dialog-button" style="flex: 1 1 50%;">Close</button>
            </div>
        </modal>
    </div>
    <script src="./core/vue.min.js"></script>
    <script src="./dist/v-com.browser.js"></script>
    <script>
        new Vue({
            el: "#app",
            components: {VCom},
            data: function(){
                return {
                    mData: null,
                    tsData: [],
                    options: [
                        {
                            id: 'a',
                            label: 'a',
                            children: [
                                {
                                    id: 'aa',
                                    label: 'aa',
                                },
                                {
                                    id: 'ab',
                                    label: 'ab',
                                }
                            ],
                        },
                        {
                            id: 'b',
                            label: 'b',
                        }
                    ],
                    //
                    dpData: '',
                    //
                    columns: [
                        {
                            label: 'Name',
                            field: 'name',
                            filterable: true,
                        },
                        {
                            label: 'Age',
                            field: 'age',
                            type: 'number',
                        },
                        {
                            label: 'Joined On',
                            field: 'joined',
                            type: 'date',
                            inputFormat: 'YYYYMMDD',
                            outputFormat: 'YYYY-MM-DD',
                        },
                        {
                            label: 'Action'
                        },
                    ],
                    dtData: [
                        {name:"John", age:20, joined: '20120201'},
                        {name:"Jane", age:24, joined: '20120305'},
                        {name:"Susan", age:16, joined: '20140823'},
                        {name:"Chris", age:55, joined: '20161109'},
                        {name:"Dan", age:40, joined: '20170612'},
                        {name:"John", age:20, joined: '20120201'},
                        {name:"Jane", age:24, joined: '20120305'},
                        {name:"Susan", age:16, joined: '20140823'},
                        {name:"Chris", age:55, joined: '20161109'},
                        {name:"Dan", age:40, joined: '20170612'},
                        {name:"John", age:20, joined: '20120201'},
                        {name:"Jane", age:24, joined: '20120305'},
                        {name:"Susan", age:16, joined: '20140823'},
                        {name:"Chris", age:55, joined: '20161109'},
                        {name:"Dan", age:40, joined: '20170612'},
                    ],
                }
            },
            watch: {
                tsData: function (val, oldVal) {
                    console.log(val, oldVal)
                },
                dpData: function (val, oldVal) {
                    console.log(val, oldVal)
                },
            },
            methods: {
                showModal (item) {
                    this.mData = item.row.name;
                    this.$modal.show('modal-com')
                }
            },

        })
            
    </script>
</body>

</html>