<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Component Framework</title>
    <link rel="stylesheet" href="./dist/v-com.css">
</head>

<body>
    <div id="app">

        <treeselect
        :multiple="true"
        :options="options"
        placeholder="Select your favourite(s)..."
        v-model="value">
        </treeselect>

        <hr/>

        <date-picker
        v-model="rangeTime"
        range confirm>
        </date-picker>

        <hr/>

        <data-table
        style-class="table table-bordered table-striped"
        :columns="columns"
        :paginate="true"
        :rows="rows"
        :defaultSortBy="{field: 'age', type: 'asc'}">
            <template slot="table-row" scope="props">
                <td class="fancy">{{ props.row.name }}</td>
                <td class="has-text-right">{{ props.row.age }}</td>
                <td class="has-text-right">{{ props.row.joined }}</td>
                <td class="has-text-right">edit {{ props.row.name }}</td>
            </template>
        </data-table>
    </div>
    <script src="./core/vue.min.js"></script>
    <script src="./dist/v-com.browser.js"></script>
    <script>
        console.log(VCom)
        new Vue({
            el: "#app",
            components: {VCom},
            data: function(){
                return {
                    value: [],
                    options: [ {
                        id: 'a',
                        label: 'a',
                        children: [ {
                        id: 'aa',
                        label: 'aa',
                        }, {
                        id: 'ab',
                        label: 'ab',
                        } ],
                    }, {
                        id: 'b',
                        label: 'b',
                    } ],
                    //
                    rangeTime: '',
                    //
                    columns: [
                        {
                            label: 'Name',
                            field: 'name',
                            filterable: true,
                        },
                        {
                            label: 'Age',
                            field: 'age',
                            type: 'number',
                        },
                        {
                            label: 'Joined On',
                            field: 'joined',
                            type: 'date',
                            inputFormat: 'YYYYMMDD',
                            outputFormat: 'YYYY-MM-DD',
                        },
                        {
                            label: 'Action'
                        },
                        ],
                    rows: [
                        {name:"John", age:20, joined: '20120201'},
                        {name:"Jane", age:24, joined: '20120305'},
                        {name:"Susan", age:16, joined: '20140823'},
                        {name:"Chris", age:55, joined: '20161109'},
                        {name:"Dan", age:40, joined: '20170612'},
                    ],
                }
            },
            methods: {
            },

        })
            
    </script>
</body>

</html>